.sah-dropdown-item--clickable {
  cursor: pointer;
}

.sah-dropdown-item--divider {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #f2f5f7;
}

.generic-flag {
  display: inline-block;
  height: 21px;
  width: 33px;
  margin-bottom: -4px;
  background-size: 100% 100%;
}

.generic-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-top: 8px;
  margin-left: 0;
  background-size: 100% 100%;
}

.flag-uk {
  @extend .generic-flag;
  background-image: url('./flags/uk.svg');
}
.flag-ee {
  @extend .generic-flag;
  background-image: url('./flags/ee.svg');
  box-shadow: inset 0 0 1px black;
}

.icon-search {
  @extend .generic-icon;
  background-image: url('./icons/search-icon-light-grey.svg');
}

.no-shadow {
  box-shadow: none !important;
  &:focus {
    box-shadow: none !important;
  }
}

.caret {
  margin-left: -1rem !important;
}

.sah-input-group-addon {
  width: 20px;
}

.dropdown-scrollable-list {
  max-height: 25vh;
  overflow-y: auto;
}
