.sah-loader-balls {
  vertical-align: middle;
}

.sah-loader-balls-sm {
  vertical-align: middle;
  margin: -0.5rem;
  height: 2rem;
}

.sah-loader-balls-md {
  height: 4rem;
}

.sah-loader-balls-max {
  width: 100%;
  height: 100%;
}
