.white-card-container {
  // justify-content-center d-flex flex-wrap
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.white-card-container-singleline {
  display: none;
  overflow-x: scroll;
}

@media (max-width: 820px) {
  .white-card-container-multiline {
    display: none;
  }
  .white-card-container-singleline {
    display: flex;
  }
  .white-card-container {
    flex-wrap: nowrap;
  }
}
