.message-composer-input {
  border: none !important;
  resize: none;
  border-radius: 0 0 0 0 !important;
  word-wrap: break-word;
}

.message-composer-input-group {
  position: absolute !important;
  bottom: 0;
  left: 0;
}

.message-composer-input-group-btn {
  background-color: white !important;
  border: none !important;
  border-radius: 0 0 0 0 !important;
  margin-left: 0;
}
