.sah-evaluation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sah-evaluation-btn-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.sah-evaluation-btn {
  line-height: 1 !important;
  padding: 1.5rem 1.5rem !important;
  border-radius: 50% !important;
}

.sah-thumb {
  fill: white;
  height: 4rem;
  width: 4rem;
}

.sah-evaluation-thumb-down {
  transform: rotate(180deg);
}
