.new-card-form {
  &.card-container {
    cursor: pointer;
  }
  &.row-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  &.card-option-inputs {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .new-card-form {
    &.row-flex {
      align-items: center;
      flex-direction: column;
    }
    &.card-container {
      cursor: pointer;
      padding-right: 0 !important;
    }
  }
}

.tags-area {
   display: inline;
}

.sah-btn-group-justified {
  display: flex !important;
  width: 100%;
  .btn,
  .btn-group {
    flex: 1 !important;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}
