$sah-bg-default: #232323;
$sah-color-default: #fff;
$sah-card-bg-black: #000;
$sah-card-color-white: #fff;
$sah-card-bg-white: #eeeeee;
$sah-card-color-black: #000;
$sah-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
$sah-shadow-focus: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
$sah-label-color: #aaa;


$white:                     #ffffff;
$white-dark:                #cacaca;
$gray-dark:                 #232323;
$gray:                      #343434;
$gray-light:                #434343;
$gray-lighter:              #444444;
$gray-lightest:             #545454;

$brand-primary:             #0072ce;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;
$brand-inverse:             $gray-dark !default;

$enable-flex:        true;
$font-family-base:   'Nunito Sans', sans-serif;
$body-bg:            $gray-dark;
$body-color:         $white;

$font-size-lg:   1rem;
$font-size-base: 0.875rem;
$font-size-sm:   .75rem;
$font-size-xs:   .5rem;

$headings-font-weight: 800;
$btn-font-weight: 700;

$spacer: 0.75rem;

$sah-btn-box-shadow-first:  0 2px   3px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.08);
$sah-btn-box-shadow-second: 0 4px   6px rgba(0,0,0,.11), 0 1px 3px rgba(0,0,0,.08);
$sah-btn-box-shadow-third:  0 10px 18px rgba(0,0,0,.11), 0 4px 5px rgba(0,0,0,.08);

$dropdown-bg: $gray-light;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: lighten($gray-light, 10%);
$dropdown-link-active-bg: lighten($gray-light, 17%);
$dropdown-border-width: 0;

@mixin sah-button-variant($color, $background, $border) {
  $active-background: lighten($background, 10%);
  $active-border: lighten($border, 12%);
  transition: all .15s ease;
  color: $color;
  background-color: $background;
  border-color: $border;
  box-shadow: $sah-btn-box-shadow-second;

  @include hover {
    cursor: pointer;
    color: $color;
    background-color: $active-background;
    border-color:     $active-border;
    // TODO: figure out how to do this with an ::after element.
    box-shadow: $sah-btn-box-shadow-third;
    transform: translateY(-2%);
  }

  &:focus,
  &.focus {
    color: $color;
    background-color: $active-background;
    border-color:     $active-border;
    transform: translateY(0);
    box-shadow: $sah-btn-box-shadow-first;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $active-background;
    border-color:     $active-border;
    // Remove the gradient for the pressed/active state
    background-image: none;

    transform: translateY(2%);
    box-shadow: $sah-btn-box-shadow-first;
    //@include box-shadow($btn-active-box-shadow);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: lighten($background, 17%);
      border-color:     lighten($border, 19%);
      transform: translateY(2%);
      box-shadow: $sah-btn-box-shadow-first;
    }
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      background-color: $background;
      border-color:     $border;
    }
    @include hover {
      background-color: $background;
      border-color:     $border;
    }
  }
}

//  &.first
//    box-shadow 0 1px 3px 0 tint(#000000,44%), 0 1px 1px  0 tint(#000000,68%)

  &.second
    box-shadow 0 5px 10px 0 tint(#000000,46%), 0 4px 5px 0 tint(#000000,66%)

  &.third
    box-shadow 0 11px 23px 0 tint(#000000,48%), 0 6px 11px 0 tint(#000000,63%)

  &.fourth
    box-shadow 0 15px 33px 0 tint(#000000,49%), 0 12px 14px 0 tint(#000000,62%)

  &.fifth
    box-shadow 0 18px 45px 0 tint(#000000,50%), 0 15px 15px 0 tint(#000000,60%)

  &.-example
    box-shadow 0 1px 3px 0 tint(#000000,44%), 0 1px 1px  0 tint(#000000,68%)
    transition box-shadow 0.3s ease-in-out
    &:hover
      box-shadow 0 18px 45px 0 tint(#000000,50%), 0 15px 15px 0 tint(#000000,60%)
      */
