@font-face {
  font-family: Averta;
  src: url(./fonts/TW-Averta-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Averta;
  src: url(./fonts/TW-Averta-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Averta;
  src: url(./fonts/TW-Averta-Bold.ttf);
  font-weight: 700;
}
