@import '../../variables.scss';

.sah-card {
  user-select: none;
  box-shadow: $sah-btn-box-shadow-second;
  transition: all .2s ease-in-out;
  &:focus {
    box-shadow: $sah-btn-box-shadow-third;
  }
  &:hover {
    box-shadow: $sah-btn-box-shadow-third;
  }
}
