@import '../../variables.scss';
$sah-card-sm-width: 125px;
$sah-card-border-radius: 6px;

.sah-card {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  font-weight: bold !important;
  box-shadow: $sah-shadow;
  border: none;
  transition: all .2s ease-in-out;
  &:focus {
    box-shadow: $sah-shadow-focus;
  }
  &:hover {
    box-shadow: $sah-shadow-focus;
  }
  &.sah-card-small {
    width: $sah-card-sm-width;
    height: $sah-card-sm-width * 1.4;
    border-radius: $sah-card-border-radius;
  }
  &.sah-card-medium {
    width: $sah-card-sm-width * 1.5;
    height: $sah-card-sm-width * 1.4 * 1.5;
    border-radius: $sah-card-border-radius * 1.5;
  }
  &.sah-card-large {
    width: $sah-card-sm-width * 2;
    height: $sah-card-sm-width * 1.4 * 2;
    border-radius: $sah-card-border-radius * 2;
  }
}

.sah-card-text {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 90%;
  max-width: 100%;
}

.sah-card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  height: 100%;
  width: 100%;
  &.sah-card-small {
    padding: $sah-card-border-radius;
    & .sah-card-footer {
      font-size: 0.3rem !important;
      & .sah-card-logo {
        max-height: 1rem;
        padding-right: 4px;
        padding-bottom: 1px;
      }
    }
  }
  &.sah-card-medium {
    padding: $sah-card-border-radius * 1.5;
    & .sah-card-footer {
      font-size: 0.5rem !important;
      & .sah-card-logo {
        max-height: 1.5rem;
        padding-right: 6px;
        padding-bottom: 1px;
      }
    }
  }
  &.sah-card-large {
    padding: $sah-card-border-radius * 2;
    & .sah-card-footer {
      font-size: 0.75rem !important;
      & .sah-card-logo {
        max-height: 2rem;
        padding-right: 8px;
        padding-bottom: 2px;
      }
    }
  }
}

.sah-card-footer {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.sah-card-pick {
  display: flex;
  flex-wrap: wrap;
}

.sah-card-pick-circle {
  &.sah-card-pick-circle-1 {
    background-image: url('./pick-1.svg');
  }
  &.sah-card-pick-circle-2 {
    background-image: url('./pick-2.svg');
  }
  &.sah-card-pick-circle-3 {
    background-image: url('./pick-3.svg');
  }
}

.sah-card-large {
  & .sah-card-footer {
    line-height: 2rem;
  }
  & .sah-card-pick {
    font-size: 2rem;
  }
  & .sah-card-pick-circle {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    background-size: cover;
  }
}

.sah-card-medium {
  & .sah-card-footer {
    line-height: 1.5rem;
  }
  & .sah-card-pick {
    line-height: 1.5rem;
    font-size: 1.5rem;
  }
  & .sah-card-pick-circle {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.75rem;
    background-size: cover;
  }
}

.sah-card-small {
  & .sah-card-footer {
    line-height: 1rem;
  }
  & .sah-card-pick {
    font-size: 1rem;
  }
  & .sah-card-pick-circle {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    background-size: cover;
  }
}
