.message {
  max-width: 100%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-left {
  background-color: #fff !important;
  border-radius: 0.5rem;
}

.message-right {
  color: white;
  background-color: #66d !important;
  border-radius: 0.5rem;
}

.message-container-left {
  text-align: left;
  align-items: flex-start;
}

.message-container-right {
  text-align: right;
  align-items: flex-end;
}

.message-container {
  display: flex;
  text-overflow: ellipsis;
  flex: 1;
  flex-direction: column;
}
