// @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800');
@import "./variables";

@import "~bootstrap/scss/bootstrap.scss";

button:hover { cursor: pointer; }

.form-check-label {
  padding-left: 0;
}

.boulder-left {
  min-width: 750px;
  margin-top: 350px;
  margin-right: 600px;
  min-height: 100%;
}

.boulder-right {
  min-width: 750px;
  margin-top: 450px;
  margin-left: 600px;
  min-height: 500px;
}

.boulder-container {
  display: flex;
  z-index: 0;
  position: absolute;
  width: 100%;
  min-height: 100%;
  align-items: baseline;
  justify-content: center;
  overflow: hidden;
}
